
        h2{
            background-color: papayawhip;
            color: maroon;
        }
        .c {
        background-color: orange;
        color: maroon;
        }

     #h{
        background-color: teal;
        color: white;
     }

    
